body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.title{
  text-align: center;
  color: red;
  margin-top: 10px;

}
.FilterForm{
  margin-top: 10px;
  
}
.FilterForm button{
  display: inline-block;
  width: 26.5%;
  margin-right: 10px;
}
.Item{
  border: 1px solid rgb(146, 146, 146);
  border-radius: 0px;
  margin-top: 5px !important; 
  width: 82%; 
}
.ListTodo{
  margin-top: 30px;
 
}
.text{
padding-top: 5px;
cursor: pointer;
}

/* Trong file CSS của bạn */
.selected {
  background-color: yellow; /* Màu nền bạn muốn cho các item đã chọn */
  /* Các thuộc tính CSS khác bạn muốn áp dụng cho các item đã chọn */
}
